*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
body{
    max-width: 100%;
}


/*--------------------MAIN-------------------*/
header{
    box-sizing: border-box;
    position: relative;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
/*NAVIGATION*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    letter-spacing: 2px;
    width: 100%;
    height: 3vw;
    box-sizing: border-box;
    padding: 2vw 5vw;
    background-color: rgba(8,41,57,0.5);
    font-size: 1.2vw;
    /*padding: 2vw 5vw;*/
}
#menuToggle{
    display: none;
}
/*LINKS*/
.logo{
    font-size: 1.8vw;
    color: #FFFFFF;
    font-weight: 300;
    font-family: 'Cormorant Garamond', serif;
}
.menu{
    display: flex;
}
.menu li a{
    margin: 0 2vw;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    line-height: 1;
    color: #d7ddd4;
}
.menu li a:hover{
    color: #ffffff;
}
.menu li .language{
    color: #FFFFFF;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    margin-left: 10vw;
}
.menu-btn{
    display: none;
}
/*NAME*/
.main_information{
    padding: 15vw 15vw;
}
.name{
    padding: 2vw 2vw;
    color: #FFFFFF;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    border: 3px double #ffffff;
}
.details, #skills p{
    font-size: 2vw;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-style: italic;
}
.name h1{
    font-size: 3.2vw;
    letter-spacing: 3px;
    text-shadow: 2px 2px 12px #072436;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    margin-bottom: 1vw;
}

/*--------------------ABOUT--------------------*/
#about{
    padding: 3vw 5vw;
    border-top: 2px solid black;
}
.about_top, .experience_top, .skills_top, .portfolio_top{
    text-align: center;
    justify-content: center;

}
.about_top h2, .experience_top h2, .skills_top h2, .portfolio_top h2{
    font-size: 4vw;
    letter-spacing: 2px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    padding: 2vw 0;
}
.information{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2vw;
    padding: 2vw 0;
}
.personal_information{
    text-align: justify;
    max-width: 23%;
}
.personal_information span{
    color: #c19a78;
}
.key_information{
    font-weight: bold;
}
.value_information:not(:last-child){
    margin-bottom: 1.5vw;
}
img{
    width: 18vw;
    height: 18vw;
}

/*SOCIAL*/
.social{
    padding: 3vw 0;
    display: flex;
}
.social a{
    margin-right: 2vw;
}
.social i{
    color: rgba(18,17,17,0.6);
    font-size: 2.2vw;
}
.social a:hover i{
    color: #071b28;
    transition: all ease 0.6s;
}

/*--------------------EXPERIENCE--------------------*/
#experience{
    border-top: 2px solid black;
    box-sizing: border-box;
    background-image: url("../images/bg_timeline.jpg");
    font-size: 1.1vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 1.5vw;
    border-bottom: 2px solid black;
}
.timeline_container{
    padding: 0 5vw;
}
.timeline{
    position: relative;
    background-color: rgba(0,0,0,0.3);
    color: #FFFFFF;
}
.timeline:before{
    content: "";
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #FFFFFF;
}
.timeline ul li{
    position: relative;
    width: 50%;
    padding: 2vw 3vw;
    box-sizing: border-box;
}
.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}
.content{
    padding: 1vw;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-top: 2vw;
}
.content h3{
    margin-bottom: 1.2vw;
}
.time{
    text-shadow: 2px 2px 1px #000000;
    margin-bottom: 1.2vw;
    font-size: 1.2vw;
}
.content a{
    color: #FFFFFF;
}
.timeline ul li:nth-child(odd) .time{
    position: absolute;
    top: 8vw;
    left: 52vw;
    width: max-content;
}
.timeline ul li:nth-child(even) .time{
    position: absolute;
    top: 8vw;
    right: 52vw;
    width: max-content;
}
#clear{
    clear: both;
}

/*--------------------SKILLS--------------------*/
#skills {
    background-color: #f0ead1;
    padding: 3vw 5vw;
    border-bottom: 2px solid black;
}
.skills_main{
    margin-top: 3vw;
    padding: 0 3vw;
    display: flex;
    justify-content: space-between;
    font-size: 1vw;
}
.progress {
    background-color: #FFFFFF;
    border-radius: 100px;
    align-items: center;
    display: flex;
    height: 2vw;
    width: 34vw;
    border: 1px solid #a59b91;
    margin: 1vw 0;
}
.progress-value {
    border-radius: 100px;
    background: rgb(239,240,215);
    background: linear-gradient(90deg, rgba(239,240,215,1) 0%, rgba(212, 235, 155, 0.98) 49%, rgba(152,250,174,1) 100%);
    height: 100%;
}
.html-skill{
    animation: html-skill-anim 3s normal forwards;
}
.css-skill{
    animation: css-skill-anim 3s normal forwards;
}
.js-skill{
    animation: js-skill-anim 3s normal forwards;
}
.python-skill{
    animation: python-skill-anim 3s normal forwards;
}
.git-skill{
    animation: git-skill-anim 3s normal forwards;
}
.react-skill{
    animation: react-skill-anim 3s normal forwards;
}
.jQuery-skill{
    animation: jQuery-skill-anim 3s normal forwards;
}
.sass-skill{
    animation: sass-skill-anim 3s normal forwards;
}
.typeScript-skill{
    animation: typeScript-skill-anim 3s normal forwards;
}
.vue-skill{
    animation: vue-skill-anim 3s normal forwards;
}

@keyframes html-skill-anim {
    0% { width: 0; }
    100% { width: 85%; }
}
@keyframes css-skill-anim {
    0% { width: 0; }
    100% { width: 70%; }
}
@keyframes js-skill-anim {
    0% { width: 0; }
    100% { width: 45%; }
}
@keyframes python-skill-anim {
    0% { width: 0; }
    100% { width: 75%; }
}
@keyframes git-skill-anim {
    0% { width: 0; }
    100% { width: 68%; }
}
@keyframes react-skill-anim {
    0% { width: 0; }
    100% { width: 90%; }
}
@keyframes jQuery-skill-anim {
    0% { width: 0; }
    100% { width: 80%; }
}
@keyframes sass-skill-anim {
    0% { width: 0; }
    100% { width: 70%; }
}
@keyframes typeScript-skill-anim {
    0% { width: 0; }
    100% { width: 60%; }
}
@keyframes vue-skill-anim {
    0% { width: 0; }
    100% { width: 50%; }
}

/*--------------------PORTFOLIO--------------------*/
#portfolio{
    background-image: url("../images/bg-portfolio.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 3vw 5vw;
}
.portfolio_main{
    height: 50vw;
    margin-top: 1vw;
}
.tile{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width:28vw;
    height:18vw;
    background-color: #f0ead1;
    margin: 1vw 1vw;
    float: left;
    transition:all 1s;
    display: block;
    position: relative;
}
.ToDoList{
    background-image: url("../images/ToDoList_portfolio.png");
}
.Quiz{
    background-image: url("../images/Quiz_portfolio.png");
}
.NewYear{
    background-image: url("../images/NewYear.png");
}
input[type="radio"] {
    display:none;
}
label{
    width:15%;
    float:left;
    text-align:center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding:0.6vw 1vw;
    margin:1vw 2vw 1vw 3vw;
    cursor:pointer;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 1.5vw;
    position: relative;
    line-height: 1;
    color: #413f3a;
    background-color: #f0ead1;
}
label:hover{
    color: #110f0f;
    background-color: #f2eee0;
}
.tile:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
}
.tile:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
.tile:hover:before,
.tile:hover:after {
    opacity: 1;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.3)
}

input[type="radio"][id="landings"]:checked ~ .study, input[type="radio"][id="landings"]:checked ~ .game {
    width:0;
    height:0;
    padding:0;
    margin:0;
    opacity:0;
}
input[type="radio"][id="study"]:checked ~ .landings, input[type="radio"][id="study"]:checked ~ .game {
    width:0;
    height:0;
    padding:0;
    margin:0;
    opacity:0;
}
input[type="radio"][id="game"]:checked ~ .landings, input[type="radio"][id="game"]:checked ~ .study {
    width:0;
    height:0;
    padding:0;
    margin:0;
    opacity:0;
}

/*--------------------FOOTER--------------------*/
footer{
    background-image: url("../images/bg-footer.jpg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}
#footer{
    background-color: rgba(0,0,0,0.3);
}
.social_footer{
    display: flex;
    justify-content: center;
}
.social_footer a{
    color: #d7ddd4;
    font-size: 25px;
    margin: 3vw 1vw 2vw 1vw;
    padding: 0.6vw 1vw;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
.social_footer a:hover{
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.4);
}
.my_name{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1.6vw;
    font-family: 'Cormorant Garamond', serif;
    padding-bottom: 2vw;
}

/*--------------------MEDIAS--------------------*/

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /*--------------------MAIN-------------------*/
    .main_information{
        padding: 20vw 15vw;
    }
    nav{
        font-size: 2vw;
        height: 8vw;
    }
    .logo {
        font-size: 2.3vw;
    }
    .name h1{
        font-size: 5vw;
    }
    .details{
        font-size: 2.5vw;
    }

    /*--------------------ABOUT--------------------*/
    .about_top h2, .experience_top h2, .skills_top h2, .portfolio_top h2{
        font-size: 5vw;
    }
    .information{
        font-size: 1.4vw;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    /*--------------------MAIN-------------------*/
    .main_information {
        padding: 20vw 20vw;
    }

    nav {
        font-size: 2vw;
        height: 10vw;
    }

    .menu {
        display: none;
    }

    #menuToggle {
        display: block;
        position: relative;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a {
        color: #ffffff;
        margin: 1.3vw 0;
        transition: color 0.3s ease;
    }

    #menuToggle input {
        display: block;
        width: 30px;
        height: 40px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #ffffff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0 0;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0 100%;
    }

    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #ffffff;
    }

    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu_hamburger {
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: -7vw 0 0 -5vw;
        background: rgba(1, 1, 1, 0.9);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0 0;

        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu_hamburger a, #menu_hamburger li {
        margin: 3vw 0;
        font-size: 40px;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 300;
    }

    #menuToggle input:checked ~ ul {
        transform: none;
    }

    .menu li a {
        color: #ffffff;
    }

    .logo {
        font-size: 3vw;
    }

    .name h1 {
        font-size: 7vw;
    }

    .details {
        font-size: 2.5vw;
    }

    .language {
        margin: 0;
    }

    /*--------------------ABOUT--------------------*/
    .about_top h2, .experience_top h2, .skills_top h2, .portfolio_top h2 {
        font-size: 5vw;
    }

    .information {
        font-size: 1.5vw;
        padding: 2vw 0;
    }

    .personal_information {
        text-align: justify;
        max-width: 25%;
    }

    img {
        width: 25vw;
        height: 25vw;
    }

    /*SOCIAL*/
    .social i {
        color: rgba(18, 17, 17, 0.6);
        font-size: 3vw;
    }

    /*--------------------EXPERIENCE--------------------*/
    #experience {
        font-size: 2vw;
        padding-top: 1.5vw;
    }

    .timeline {
        position: relative;
        background-color: rgba(0, 0, 0, 0.3);
        color: #FFFFFF;
    }

    .timeline:before {
        left: 20%;
        width: 2px;
    }

    .timeline ul li {
        position: relative;
        width: 80%;
        padding: 2vw 3vw;
    }

    .timeline ul li:nth-child(odd) {
        left: 15%;
        text-align: left;
    }

    .timeline ul li:nth-child(even) {
        left: 15%;
        float: left;
    }

    .content h3 {
        font-size: 2.5vw;
        margin-bottom: 1.5vw;
    }

    .time {
        text-shadow: 1px 1px 1px #000000;
        font-size: 1.8vw;
    }

    .timeline ul li:nth-child(odd) .time {
        left: -15vw;
        width: 15vw;
    }

    .timeline ul li:nth-child(even) .time {
        left: -15vw;
        width: 15vw;
    }

    /*--------------------SKILLS--------------------*/
    .skills_main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .column li p{
        font-size: 3vw !important;
    }
    .progress {
        height: 4vw;
        width: 60vw;
    }

    /*--------------------PORTFOLIO--------------------*/
    .portfolio_main{
        height: 85vw;
        margin-top: 1vw;
        padding: 0 5vw;
    }
    .tile{
        width:38vw;
        height:25vw;
        margin: 0.5vw 0.5vw;
    }
    label{
        width:20%;
        margin:1vw;
        font-size: 2vw;
    }
}

@media screen and (max-width: 480px){
    /*--------------------MAIN-------------------*/
    .main_information{
        padding: 35vw 10vw;
    }
    nav{
        height: 15vw;
    }
    .menu{
        display: none;
    }
    #menuToggle {
        display: block;
        position: relative;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle a {
        color: #ffffff;
        margin: 1.3vw 0;
        transition: color 0.3s ease;
    }
    #menuToggle input {
        display: block;
        width: 30px;
        height: 40px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }
    #menuToggle span {
        display: block;
        width: 28px;
        height: 3px;
        margin-bottom: 5px;
        position: relative;
        background: #ffffff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }
    #menuToggle span:first-child {
        transform-origin: 0 0;
    }
    #menuToggle span:nth-last-child(2) {
        transform-origin: 0 100%;
    }
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #ffffff;
    }
    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
    #menu_hamburger {
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: -11vw 0 0 -5vw;
        background: rgba(1,1,1,0.9);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0 0;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    #menu_hamburger a, #menu_hamburger li{
        margin: 2vw 0;
        font-size: 8vw;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 300;
    }
    #menuToggle input:checked ~ ul {
        transform: none;
    }
    .menu li a{
        color: #ffffff;
    }
    .logo {
        font-size: 5vw;
    }
    .name h1{
        font-size: 9vw;
    }
    .details{
        font-size: 4vw;
    }
    .language{
        margin: 0;
    }

    /*--------------------ABOUT--------------------*/
    .about_top h2, .experience_top h2, .skills_top h2, .portfolio_top h2{
        font-size: 10vw;
    }
    .information{
        font-size: 4vw;
        padding: 4vw 0;
        flex-direction: column;
    }
    .personal_information{
        text-align: justify;
        max-width: 80%;
    }
    p.personal_information{
        margin-bottom: 4vw;
    }
    .personal_information li{
        letter-spacing: 0.4vw;
    }
    img{
        width:60vw;
        height: 60vw;
        margin-bottom: 4vw;
    }
    /*SOCIAL*/
    .social i{
        color: rgba(18,17,17,0.6);
        margin-right: 2vw;
        font-size: 7vw;
    }

    /*--------------------EXPERIENCE--------------------*/
    #experience{
        font-size: 4vw;
        padding-top: 1.5vw;
    }
    .timeline{
        margin-bottom: 5vw;
    }
    .timeline:before{
        left: 20%;
        width: 2px;
    }
    .timeline ul li{
        position: relative;
        width: 90%;
        padding: 2vw 3vw;
    }
    .timeline ul li:nth-child(odd){
        left: 15%;
        text-align: left;
    }
    .timeline ul li:nth-child(even){
        left: 15%;
        float: left;
    }
    .content h3{
        font-size: 5vw;
        margin-bottom: 2.5vw;
    }
    .time{
        text-shadow: 2px 2px 1px #000000;
        font-size: 3.8vw;
    }
    .timeline ul li:nth-child(odd) .time{
        left: -17vw;
        width: 15vw;
    }
    .timeline ul li:nth-child(even) .time{
        left: -17vw;
        width: 15vw;
    }

    /*--------------------SKILLS--------------------*/
    .skills_main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .column li p{
        font-size: 5vw !important;
    }
    .progress {
        height: 4vw;
        width: 60vw;
    }

    /*--------------------PORTFOLIO--------------------*/
    .portfolio_main{
        height: 270vw;
        margin-top: 1vw;
        padding: 0 5vw;
    }
    .tile{
        width:80vw;
        height:40vw;
        margin: 0.5vw 0.5vw;
    }
    label{
        width:45%;
        margin:1vw;
        font-size: 5vw;
    }
}